

.heading{
    color:white;
    width: 100%;
    font-size: 30px;
}

.heading button{
    float: right;
    border: 1px solid white;
}
.heading h3{
    display: inline;
}

#createdBy{
    position:sticky;
    bottom:0;
    z-index: 1;
    width:100%;
}

#instructions{
    color:white;
}

.canvas{
    box-shadow: 10px 10px 10px white;
}